@model nguyenvankhoat591.Models.NVK0591

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NVK0591</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NVKName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NVKName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NVKGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NVKGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NVKId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
